body.dark-mode .text-muted {
  color: #f0f0f0 !important;
  opacity: 0.7;
}

a.navbar-brand.fw-bold {
  color: #333; /* warna normal */
  transition: color 0.3s ease; /* smooth transition */
  text-decoration: none; /* hilangkan underline default */
}

a.navbar-brand.fw-bold:hover {
  color: grey; /* warna biru Bootstrap saat hover */
  cursor: pointer;
}

img {
  width: 500px;
  height: 300px;
}